-days = (Date.today.beginning_of_week - 14.days .. Date.today.beginning_of_week - 1.day).to_a%
%div{class:"grid grid-cols-7 gap-4"}
- days.each do |day| 
  =link_to class="border-hidden" do
    = Date::ABBR_DAYNAMES[day.wday]
      = day.day 